<div id="overlay_profile">
    <h1>Profile Setup</h1>

  <div style="float:left">
  
   <a href="#"><%= image_tag @user.avatar.url(:large) %></a>
 
    <div id="wrapper_file">
      <span id="browse2">Browse</span>
      <span id="filename2">no file selected</span>

      <%= form_for(@user, :html => { :multipart => true, :id => 'form_pic' }) do |f| %>
   	 <%= f.file_field :avatar, :id => "form_file"%>
         <%= f.submit "upload", :class => "button" %>
      <% end %>
     </div>

  </div>
  
<div id="form_divider"></div>
 <%= render :partial => "users/profile_form" %>
</div>
 
