
<div id="overlay_view_profile">
  <div id="profile_videos">
 
  <h1>Top Videos</h1>
  <ul>
  
 <% @selected_user.videos.order("points DESC").first(5).each do |video| %>
  <li><%= link_to( video.title , vid_bank_path(:user_id => @selected_user.id, :video => video), :class=>"watch scroll", 
   :method => :post, "data_type" => :js, :remote=> true, 
   :onclick => "$('html,body').animate({scrollTop:$('#video_container').offset().top}, 500);$('a.close').trigger('click');")%><span><%= video.points %>pts</span></li>
  <% end %>


  </ul>
  </div>
  <div id="id_wrapper">

  <%=image_tag @selected_user.avatar.url(:large)%>
  </div>
  <h2><%= @selected_user.name  %></h2>
  <h3><%= @selected_user.year  %></h3>
  <h4> <%= "#{user_rep(@selected_user)}"%><%= " [#{@selected_user.points}]"%> </h4>
  <h3><%= @selected_user.skill %></h3>
  
</div>

