<div class="leader">
			<h3><%= num_rank(i+1) %></h3>
			
			<div class="leader_pic"> 
			<%= link_to("#", :class => "leader_thumb_link", :onclick => select_user(user), :remote => true) do %> 
     			<%= image_tag user.avatar.url(:large) %> 
     			<% end %>   
				
				
			</div>

		
			<div class="leader_info">
			<h1><%= user.name %></h1>
			<h2><%= user.major %></h2>	
			<p>
			<%= user.about %>	
			</p>
			</div>
			<div class="leader_divider"></div>
			<div class="leader_videos">
				<h2>Top Videos</h2>
				<h5>Title</h5>
				<h6>Pts</h6>
				<ol>
           <% user.videos.order("points DESC").each do |video| %>
              <li><%= link_to(vid_swap_path(:video => video.id, :bank => "Top Videos"), :method => :post, "data_type" => :js, :remote=> true) do%>
                   <%= video.title %>
                   <% end %>
              <span><%= video.points %>+</span></li>
         <%end%>
   
		
				</ol>
				
			</div>
			<div class="leader_bottom"></div>
			<div class="leader_left"></div>
			<div class="leader_right"></div>
		</div>
