<% if @user_list.empty? %>
 <div id="empty_prompt"> 
  		<h1>Hurry! No one has seized this opportunity yet!</h1>
  		<h2><span><a onclick="window.open('/videos/new', 'newwindow', 'width=550, height=750, top=30, left=50'); return false;" href="#">Upload a video</a></span> to own this leaderboard!</h2>
  </div>
 
<% else %>

<% @user_list.first(5).each_with_index do |user, i| %>
<div class="leader">
			<h3><%= num_rank(i+1) %></h3>
			<% select_user(user) %>
			<div class="leader_pic"> 
			<%= link_to(select_user_path(:user => user.id), :class => "leader_thumb_link", :remote => true) do %> 
     			<%= image_tag user.avatar.url(:large) %> 
     			<% end %>   
				
				
			</div>

		
			<div class="leader_info">
			<h1><%= user.name %></h1>
			<h2><%= user.major %></h2>
                      	
			<p>
			<%= user.about %>
                        	
			</p>
			</div>

			<div class="leader_divider"></div>

			<div class="leader_videos">
                          <%if @leaderboard == "All Leaderboards" || @leaderboard == nil %> 
				<h2>Top Videos</h2>
                          <%else%> 
                               <h2><%=@leaderboard%> Videos</h2>
                           <%end%>
				<h5>Title</h5>
				<h6>Rep</h6>
				<ol>
           <% user.videos.order("points DESC").each do |video| %>
              <li><%= link_to(vid_swap_path(:video => video.id, :bank => "Top Videos"), 
               :method => :post, 
               "data_type" => :js, :remote=> true) do%>
                   <%= video.title %>
               <% end %>
              <span><%= video.points %>+</span></li>
           <%end%>
   
		
				</ol>
				
			</div>

			<div class="leader_bottom"></div>
			<div class="leader_left"></div>
			<div class="leader_right"></div>
</div>
<% end %>
<% end %>
