<% if @user_list.empty? %>
 <div id="empty_prompt"> 
  		<h1>Hurry! No one has seized this opportunity yet!</h1>
  		<h2><span><a onclick="window.open('/videos/new', 'newwindow', 'width=608, height=750, top=30, left=50'); return false;" href="#">Upload a video</a></span> to own this leaderboard!</h2>
  </div>
 
<% else %>

<% @offset = @user_list.offset %>



<% @user_list.each_with_index do |user, i| %>
<div class="leader">
                        
		        <h3><%= num_rank(@offset + (i+1)) %></h3>
			
			<% select_user(user) %>
			<div class="leader_pic"> 
			<%= link_to(select_user_path(:user => user.id), :class => "leader_thumb_link", :remote => true) do %> 
     			<%= image_tag user.avatar.url(:large) %> 
     			<% end %>   
				
				
			</div>

		
			<div class="leader_info">
			<h1><%= link_to user.name, select_user_path(:user => user.id), :remote => true %></h1>
			<h2><%= user.major %></h2>
                      	
			<p>
			<%= user.about %>
                        	
			</p>
			</div>

			<div class="leader_divider"></div>

			<div class="leader_videos">
                          <%if @leaderboard == "All Leaderboards" || @leaderboard == nil %> 
				<h2>Top Videos</h2>
                          <%else%> 
                               <h2><%=@leaderboard %> Videos</h2>
                           <%end%>
				<h5>Title</h5>
				<h6>Rep</h6>
				<ol>
           <% if @board_id == nil || @board_id == "" %>
           <% user.videos.order("points DESC").each do |video| %>
              <li><%= link_to(vid_swap_path(:video => video.id, :bank => "Top Videos"), 
               :method => :post, 
               "data_type" => :js, :remote=> true) do%>
                   <%= video.title %>
               <% end %>
              <span><%= video.points %>+</span></li>
              <% end %>
          <%else%> 

          <% user.videos.where(:leaderboard_id => @board_id).each do |video| %>
                 <li><%= link_to(vid_swap_path(:video => video.id, :bank => "Top Videos"), 
               :method => :post, 
               "data_type" => :js, :remote=> true) do%>
                   <%= video.title %>
               <% end %>
              <span><%= video.points %>+</span></li>
           <%end%>
          <% end %>
		
				</ol>
				
			</div>
</div>
<% end %>
<%= paginate @user_list, :params => {:controller => 'leaderboards', :action => 'people_board', :category => @category, :leaderboard => @leaderboard} %>
<% end %>
