


if("<%= escape_javascript(@fill) %>" == "true"){
	t = "<%=escape_javascript(@string) %>";
	$("#leaderboard_select").html("");
	if(t==""){
		$("#leaderboard_select").append('<option value="All Leaderboards">All Leaderboards</option>');
		$("#leaderboard_select").val("All Leaderboards");
	}else{
		
		t = t.substring(0,t.length-1).split("|");
		// this code should empty the options which exist and fill the list with all the options in @string making sure the first option is what is visible 
		
		
		for(var leaderboard in t){
			if(leaderboard == 0){
			   $("#leaderboard_select").append('<option value="All Leaderboards">'+t[leaderboard]+'</option>');	// First value is All Leaderboards  
			}
			else{
			   $("#leaderboard_select").append('<option value="'+t[leaderboard]+'">'+t[leaderboard]+'</option>');
			}	
		}
	}

	<% if @category != "All Categories" %>
	$(".customSelectInner").get(1).innerHTML = "<%=escape_javascript(@category) %> " + "Leaderboards";
	<% else %>
  	$(".customSelectInner").get(1).innerHTML = "All Leaderboards";
	<% end %> 
	
}

$('#leader_switch').html(
"<%=escape_javascript(render('leaderboards/leader_switch', category: @category, leaderboard: @leaderboard)) %>");
		
$('#leaders_container').html("<%=escape_javascript(render('videos/leaders', videos: @videos, description: @description))%>");
