<%provide(:title, 'Home') %>

<% @current_video ||= current_video %>

<meta property="og:description" content="A Video Platform for Madison Campus for Video Sharing and Promotion!"/>
 <meta property="og:url" content="http://www.skillmad.com"/>
 <meta property="og:image" content="http://www.skillmad.com/skillmad_graph.gif"/>
 <meta property="og:title" content="Skillmad"/>
 <meta property="og:site_name" content="Skillmad"/>
 <meta property="og:type" content="Website"/>

<%if signed_in? %>

     
   
    <%= render 'layouts/flash_notices' %>
	

       <%if !@video_list.empty? %>
	
         <div id="video_container">
          <%= render(:partial => "videos/vidplayer", :locals =>{:current_video => @current_video, :bank => @bank}) %>
	 </div>

	 <%= render(:partial => "videos/scroll", :locals => {:video_list => @video_list, :bank => @bank, :myVid => @myVid}) %>		
       
	
	 <%= render 'layouts/leaderboard' %>
	
	 <div id="id_card">
	    <%= render :partial => "users/id_card"%>
 	 </div>
      <%end%>

     <div id="hover_images"> 
	<%= image_tag "/assets/next_hover.gif" %>
	<%= image_tag "/assets/back_hover.gif" %>
	<%= image_tag "/assets/arrow_mad_hover.gif" %>
	<%= image_tag "/assets/arrow_bad_hover.gif" %>
	<%= image_tag "/assets/button_hover.gif" %> 
	<%= image_tag "/assets/share_fb_hover.gif" %> 
	<%= image_tag "/assets/share_twitter_hover.gif" %> 
	<%= image_tag "/assets/id.png" %> 
     </div>


<% else %>

 <%= render 'layouts/lander' %>  

<%end%>


  

