<div id="leaderboard_info">

<h3>leaderboard name</h3>

</div>
<% @cat_videos.first(5).each_with_index do |video, i| %>
<div class="leader video">
			<h3><%= num_rank(i+1) %></h3>
			
			<div class="video_pic"> 
			<%= link_to("#", :class => "leader_thumb_link", :onclick => select_user(video), :remote => true) do %> 
     			<%= image_tag("http://img.youtube.com/vi/#{video.yt_video_id}/0.jpg", :height =>"100%", :width => "100%", :rel => "#{video.yt_video_id}") %>
     			<% end %>   
				
				
			</div>

		
			<div class="leader_info">
			<h1><%= video.title %></h1>
			<h2><%= video.title %></h2>
			<p>
			<%= video.description %>	
			</p>
			</div>
			<div class="leader_bottom"></div>
			<div class="leader_left"></div>
			<div class="leader_right"></div>
</div>

<% end %>
