
<div id="scroll_container">

 <h3> <%= @bank %>  </h3>

<%if hasVid?(current_user)%>
 <h2 id="vidswitch">
 
  <%= link_to "my videos", vid_bank_path(:user_id => current_user.id, :myVid => true), :remote => true, :class => my_pressed(@myVid) %> | <%= link_to "top", vid_bank_path(:myVid => false), :remote => true, :class => top_pressed(@myVid)%> | <%= link_to "new", vid_bank_path(:new => true), :remote => true, :class => new_pressed(@new)%> 
  </h2>
  <%end%> 

<!-- "previous page" action -->
<a class="prev browse left"></a>

<!-- root element for scrollable -->
<div class="scrollable" id="scrollable">

  <!-- root element for the items -->
  <div class="items">
  
  
  <% @innerNum = @video_list.size/3 %>
  <% @counter = 0 %>
	
  <% if @video_list.size%3 != 0 %>
  <% @innerNum += 1 %>
  <% end %>

  <% @innerNum.times do %>
  <%= render :partial => "videos/inner_thumb_set", :locals =>{:counter => @counter, :bank => @bank}%>
  <%end%>
  
   
   </div> 
</div>

<!-- "next page" action -->
<a class="next browse right"></a>
</div>
<div style="clear:both;">
</div>
</div>

</div>

