<style>
	#header{
	 display:none;
	}
</style>

<div id="centered" class="istyle">
	<h1>Tell us about your video..</h1>
	<h4>Yes, a catchier title will get you more views </h4>

	<%= form_for(@video, :url => upload_path, :html => { :id => 'upload'} ) do |f| %>
	
	<%= f.label :title, "Title" %>
	<%= f.text_field :title %>
	
	<%= f.label :description, "Description"%>
	<%= f.text_area :description %>

	<%= f.check_box :is_private, {}, true, false %>
	<%= label_tag(:is_private, "I want my video only seen to skillmad members and not on youtube", :id => "is_private") %>

        
        <select style="width:100px"> 
          <% all_categories.each do |cat| %> 

          <optgroup label= "Category: <%= cat.category_name %>" >
          <% leaderboard_list(cat).each do |l| %> 
          <option> <%= l.leaderboard_name %> </option>
          <% end %>

          </optgroup>
           <% end %> 
        </select>
    	<% end %>
</div>


