<%= form_tag business_email_path, :method => :post do %>
  
 <div class="field">
    <%= label_tag :business_name %>
    <%= text_field_tag :business_name, params[:business_name] %>
  </div>
  
  <div class="field">
    <%= label_tag :contact %>
    <%= text_field_tag :contact, params[:contact] %>
  </div>

  <div class="field">
    <%= label_tag :description %>
    <%= text_area_tag :description, params[:description] %> 
  </div>

  <div class="actions"><%= submit_tag "Submit" %></div>
<% end %>

