<style>
	#header_logo{
		position:absolute;
		left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	}
</style>
<div id="centered" class="business_style">
<%= form_tag business_email_path, :method => :post do %>
  
 <div class="field">
    <%= label_tag :business_or_organization_name %>
    <%= text_field_tag :business_name, params[:business_name] %>
  </div>
  
  <div class="field">
    <%= label_tag :email_address %>
    <%= text_field_tag :contact, params[:contact] %>
  </div>

  <div class="field">
    <%= label_tag :phone_number %>
    <%= text_field_tag :phone, params[:phone] %>
  </div>


  <div class="field">
    <%= label_tag :description %>
    <%= text_area_tag :description, params[:description] %> 
  </div>

  <div class="actions"><%= submit_tag "Submit" %></div>
<% end %>

</div>
