<%provide(:title, 'Home') %>


<% @current_video = current_video %>

<!DOCTYPE html >
<head>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Skillmad | <%= yield(:title) %></title>
</head>

	<%if flash[:success]%>
	   <div id="success" class="notice"><%=flash[:success]%><span></span></div>
	<% end %>

	<% if flash[:failure]%>
	   <div id="failure" class="notice"><%=flash[:failure]%><span></span></div>
	<% end %>

	<%if !@video_list.empty? %>
	 <h2 id="vidswitch">
        <%if hasVid?(current_user)%>
         <%= link_to "my videos",  vid_bank_path(:user_id => current_user.id), :remote => true%> | <%= link_to "top", vid_bank_path, :remote => true, :class => "active_menu" %> 
        <%end%> </h2>
	
	<div id="video_container">
	     <%= render(:partial => "videos/vidplayer", :locals =>{:current_video => @current_video}) %>
	</div>

	<div id="scroll_container">
	     <%= render(:partial => "videos/scroll", :locals => {:video_list => @video_list}) %>		
       </div>
	
	<%= render 'layouts/leaderboard' %>
	
	<div id="id_card">
	     <%= render :partial => "user/id_card"%>
 	</div>
 	<%end%>

<div id="hover_images"> 

 <%= image_tag "/assets/next_hover.gif" %>
 <%= image_tag "/assets/back_hover.gif" %>
 <%= image_tag "/assets/arrow_mad_hover.gif" %>
 <%= image_tag "/assets/arrow_bad_hover.gif" %>
 <%= image_tag "/assets/button_hover.gif" %> 
 <%= image_tag "/assets/share_fb_hover.gif" %> 
 <%= image_tag "/assets/share_twitter_hover.gif" %> 
 <%= image_tag "/assets/upload_button_hover.gif" %> 
 <%= image_tag "/assets/button_active.gif" %> 
 <%= image_tag "/assets/black_arrow_bottom.png" %> 

</div>

  
</html>
