<% @user = current_user %>
<style>
	form{
		margin:auto;
	}
</style>


	<h2>Make sure you remember doing this</h2>
<%= form_for @user, :url => change_password_path(:id => @user.id), :html => {  :class => 'istyle', :style => 'width:200px'}, :remote => true do |f| %>


	<table>
	<tr>
		<td>
    	<%= f.label :password, "Current Password" %>
    	</td>
    </tr>
    <tr>
		<td>
    	<%= f.password_field :password %>
    	</td>
    </tr>
    <tr>
		<td>
    	    <%= f.label :new_password, "New Password" %>
    	</td>
    </tr>
    <tr>
		<td>
    	   <%= f.password_field :new_password %>
    	</td>
    </tr>
    <tr>
    	<td>
    	<%= f.submit "Change", :class => "button" %>
    	</td>
    </tr>
        <tr>
    	<td>
    	    <div id="error_notice"> </div>
    	</td>
    </tr>
 	</table>



 


<% end %>

