
<div id="header">

<div id="header_container">
    <%if signed_in? %>
    <div id="header_logo">
    <%else%>
    <div id="header_logo" class="tip_logo" title="<h6>Welcome to SkillMad!</h6> 
    Skillmad is a video leaderboard platform showcasing UW's top talent">
   <%end%>
    	<%= link_to(home_path) do%> 
    	<% end %>
    </div>
   
   <%if signed_in? %>
    <a rel="#overlay_profile">
    <div id="profile" class="active">
   <%= image_tag  @user.avatar.url(:thumb) %>
   <h3><%= @user.name %></h3>
	<div id="profile_back">
   </div>
   </div>
   </a>
   <%else%>
   <%end%>
   <%if signed_in? %>
 	<a href="#leaderboard" class="scroll">
 		<%else%>
 		<a href="#leaderboard" class="scroll tip" title="<h6>The Leaders of Madison</h6>
 		  View the best of the best.  Browse the skillset of your talented campus">
 	<%end%>
   <div id="header_leaders">
    </a>
    </div>
    
<%if signed_in? %>
    <%= link_to(destroy_path) do%> 
    <div id="header_logout" class="active">
    <%end%>
<%else%>
    <div id="header_login" class="active tip"  title="<h6>Create an Account!</h6>
    	Create an account to begin your path internet fame">
    <a rel="#overlay_login"></a>
<%end%>
    </div>
    
    

</div>
    <%if signed_in? %>
    <div id="header_upload">
      <%= link_to(new_video_path) do%>
      <% end %>
     
    <%else%>
       <div id="header_upload" class="tip" title="<h6>Get Recognized!</h6>
       	Log in to start uploading your world class content! ">
        <a rel="#overlay_login"></a>
    <%end%>
    	
    </div>
    

</div>
