
<div id="header">

<div id="header_container">
    <%if signed_in? %>
    <div id="header_logo">
    <%else%>
    <div id="header_logo" class="tip_logo" title="<h6>Welcome to SkillMad!</h6> 
    Skillmad is a video leaderboard platform showcasing UW's top talent">
   <%end%>
    	<%= link_to(home_path) do%> 
    	<% end %>
    </div>
   
   <%if signed_in? %>
    <a rel="#overlay_profile">
    <div id="profile" class="active">
   <%= image_tag  @user.avatar.url(:thumb) %>
   <h3><%= @user.name %></h3>
	<div id="profile_back">
   </div>
   </div>
   </a>
   <%else%>
   <%end%>
 
   <div id="header_leaders" class="header_link">
   	  <%if signed_in? %>
 	<a href="#leaderboard" class="scroll">
 		<%else%>
 		<a href="#leaderboard" class="scroll tip" title="<h6>The Leaders of Madison</h6>
 		  View the best of the best.  Browse the skillset of your talented campus">
 	<%end%>
   	leaders
    </a>
    </div>
    
    <div class="header_link">
<%if signed_in? %>
    <%= link_to(destroy_path) do%> 
    	logout
    <%end%>
<%else%>
    <a class="active tip" rel="#overlay_login" title="<h6>Create an Account!</h6>
    	Create an account to begin your path internet fame!">
    join</a>
<%end%>
	
    </div>
    
    

</div>
<div class="header_link">
    <%if signed_in? %>
        <a href="#" onclick="window.open('/videos/new', 'newwindow', 'width=550, height=575, top=30, left=50'); return false;">
    	upload
    	</a>
       <%else%>
          
    	<a rel="#overlay_login" href="#" class="tip" title="<h6>Get Recognized!</h6>
       	Log in to start uploading your world class content! ">
    	upload
    	</a>
    	   <%end%>
    	
   </div>
   <%if !signed_in? %>
    <div id="sign_in">
          <%=form_for(:session, :url => sessions_path) do |f| %>

    	<%= f.text_field :email, :value => "wiscmail" %>
    	<%= f.password_field :password, :value=>"password" %>
    	<%= f.submit "login", :id => "button", :value => ">>" %>
     	<%end%>
    </div>
    <%end%>
</div>
</div>
