
<div id="header">

<div id="header_container">
    
    <div id="header_logo">
    	<%= link_to(home_path) do%> 
    	<% end %>
    </div>
   
   <%if signed_in? %>
    <a rel="#overlay_profile">
    <div id="profile" class="active">
   <%= image_tag  @user.avatar.url(:thumb) %>
   <h3><%= @user.name %></h3>
	<div id="profile_back">
   </div>
   </div>
   </a>
   <%end%>
 	  <%if signed_in? %>
   <div id="header_leaders" class="header_link">
   
 	<a href="#leaderboard" class="scroll">

   	leaders
    </a>
    </div>
 	<%end%>
    <div class="header_link">
<%if signed_in? %>
    <%= link_to(destroy_path) do%> 
    	logout
    <%end%>

<%end%>
	
    </div>

    

</div>  
<%if signed_in? %>
<div class="header_link">
  
        <a href="#" onclick="window.open('/videos/new', 'newwindow', 'width=608, height=750, top=30, left=50'); return false;">
    	upload
    	</a>
    	   
</div>


<div class="header_link">
    <a id="header_categories" href="#leaderboard" class="scroll" >categories</a>
</div>   
<%end%>
   
   
   <%if !signed_in? %>
    <div id="sign_in">
        <%=form_for(:session, :url => sessions_path, :html => {:id => "login" }) do |f| %>
        <table cellspacing="0">
        	<tbody>
        		<tr>
        			<td><%= f.label :email, "Wisc Email" %> </td>
        			<td><%= f.label :password, "Password" %> </td>
        		</tr>
        		<tr>
        			<td><%= f.text_field :email %></td>
        			<td><%= f.password_field :password%></td>
        			<td><%= f.submit "login", :id => "button", :value => "login" %></td>
        		</tr>
    		</tbody>
    	</table>

         <p style="padding-left:3px; font-size:11px;"><a rel="#overlay_reset" href="#">forgot password?</a></p>
     	<%end%>
    </div>
    <%end%>
</div>

</div>
