<div id="lander_notice">
<%= render 'layouts/flash_notices' %>
</div>
<style>
	html{
	 overflow-y: visible;
	}
	#header_logo{
	position:absolute;
	left:10px;
	top:19px;
	margin:0;
 	}
</style>


<div id="lander_bg">
<img src="assets/madison.jpg" alt="">
</div>
<div id="lander_wrapper">
<div id="form_join" >
    
    <h1>Sign up</h1>
    <h2>UW Students Only</h2>
 
      <%= form_for(:user, :url => signup_path, :html => { :id => 'join' } ) do |f| %>
      <span class="istyle simple">
      <%= f.text_field :name %>
      <%= f.label :name, "Username" %>
      <label class="error" for="user_name" generated="true"></label>
      
      <%= f.text_field :email %>
      <%= f.label :email, "Wisc Email" %>
      <label class="error" for="user_email" generated="true"></label>

      <%= f.password_field :password %>
      <label class="holder" for="user_password">Password<label id="password_info">6 or more characters</label></label>
      <label class="error" for="user_password" generated="true" style="margin-top:5px"></label>
     
      <%= f.password_field :password_confirmation %>
      <%= f.label :password_confirmation, "Confirmation" %>
      <label class="error" for="user_password_confirmation" generated="true"></label>

      <p> By clicking join, you hereby agree to our <%= link_to "Terms of service", terms_path %>  </p> 
      </span>


      <%= f.submit "join", :class => "button2" %>
      <% end %>
     </div>
     
     <div id="lander_info">
     	<h2>
Skillmad is a site for UW students to share video content, have video competitions, and promote themselves</h2>
<iframe width="560" height="315" src="http://www.youtube.com/embed/<%=@current_video.yt_video_id%>" frameborder="0" allowfullscreen></iframe>
		<% if !@vid %> 
		<h2>Make an account to watch and/or compete against talented individuals such as this gentleman</h2>
 		<% else %> 
	 	<h2> This is the video that was shared with you, to see more create an account! </h2>
		<% end %> 
	</div>
</div>
