
 <div id="leaderboard_back">
<div id="leaderboard">

		<div id="leaderboard_title"></div>
		 		<form id="leader_select">
		
 		<%= render :partial => "categories/category_select", :locals => {:category => @category} %>

		<%= render :partial => "leaderboards/leaderboard_select", :locals => {:category => @category} %>
 		
        </form>
		<div id="backtotop"><a class="scroll" href="#header"></a></div>
		
			
		
		<div id="leader_switch"><%= render :partial => "leaderboards/leader_switch", :locals => {:category => @category} %> </div>
		<div class="clear"></div>
		
       <div id="leaders_container">
        <%= render :partial => "users/leaders", :locals => {:user_list => @user_list} %>
       </div>
</div>

<div id="footer">
<%=render :partial=>"layouts/footer"%>
</div>

</div>
