 <div id="leaderboard_back">

<div id="leaderboard">

		<div id="leaderboard_title"></div>
		 		<form id="leader_select">
		<%= select_tag( :category , options_for_select(all_categories, selected_value(@category)), :class => "select_style", :prompt => "Categories",
  :data => {:remote => true, :url => home_path})%>

		
                <%= render :partial => "leaderboards/leaderboard_select", :locals => {:category => @category} %>
 		
        </form>
		<div id="backtotop"><a class="scroll" href="#header"></a></div>
		
			
		
		<div id="leader_switch"><%= link_to "people", people_board_path, :remote => true %> | <%= link_to "video", video_board_path, :remote => true %> </div>
		<div class="clear"></div>
		
       <div id="leaders_container">
        <%= render :partial => "users/leader", :locals => {:user_list => @user_list} %>
       </div>
</div>
<div id="footer">
<%=render :partial=>"layouts/footer"%>
</div>

</div>
