<style>


#videos_container{
 float:left;
}
#videos_container img{
	width:230px;
}

#videos_container ul {
 list-style-type:none;
  padding: 10px;
  overflow: auto;
  border-bottom:  solid 1px #DDD;
}

.edit_style input{  
  background-color:#600001; 
  border: solid 1px #2f393f;
  height:24px;
  width:350px;
  padding:4px;
  font-size:16px;
  color:white;
  float:right
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.edit_style textarea{
    font-family: Arial,Helvetica,sans-serif;
  
  background-color:#600001; 
  border: solid 1px #2f393f;
  padding:4px;
  font-size:14px;
  color:white;
  height:120px;
  width:350px;
  margin-right: 0px;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  resize: none; 

}


#videos_container td{
	padding:2px 8px;
}
#videos_container form{
	padding:10px 0;
}


</style>

<div id="videos_container">
<% @videos.each do |video| %>


 <ul>
   
   <li> 
   	  	<%= form_for(video, :url=> edit_vid_path(:id => video.id) ,  :html => {:class => "edit_style"}, "data_type" => :js, :remote => true ) do |f| %>
 
   	  <table >
   	  <tr>
   	  	
<td></td>
	   	  	<td>
	   	  		        <%= f.label :title, "title" %>
	   	  	</td>

   	  </tr>
   	  <tr>
   	  		   	  	<td rowspan="3">
	   	  		 <%= image_tag("http://img.youtube.com/vi/#{video.yt_video_id}/0.jpg") %>
	   	  	</td>
   	  	<td height="20px">
   	  	<%= f.text_field :title %>
   	  	</td>
   	  		   	  	<td rowspan="2">
	   	  			<%= f.submit "save changes", :class => "button" %> 
	   	  	</td>
   	  </tr>
   	  <tr>
   	  	<td>
   	  	 <%= f.label :description, "description" %>
   	  	</td>
	
   	  </tr>
   	  <tr>
   	  	<td>
   	  	<%= f.text_area :description %>
   	  	</td>
		<td>
			   <%= link_to "delete", delete_video_path(:id => video.id), :class => "button", "data_type" => :js, :remote => true %> 
		</td>
   	  </tr>


     
    
      <% end %> 
      </table> 
   </li>

 </ul>


<% end %> 
</div> 
