<style>
#setting_updates{
 height: 100%
}

#videos_container{
 float:left;
 width: 1200px;
}

#videos_container ul {
 list-style-type:none;
  padding: 10px;
  overflow: auto;
  border-bottom:  solid 1px #2f393f;
}

li img{
 margin-top: 30px;
 float:left;
}

.edit_style input{  
  margin-bottom:15px;
  margin-left: 5px;
  background-color:#600001; 
  border: solid 1px #2f393f;
  height:24px;
  width:350px;
  padding:4px;
  font-size:16px;
  color:white;
  float:right
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.edit_style textarea{
    font-family: Arial,Helvetica,sans-serif;
  
  background-color:#600001; 
  border: solid 1px #2f393f;
  padding:4px;
  font-size:14px;
  color:white;
  height:120px;
  width:350px;
  margin-right: 0px;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  resize: none; 

}

.edit_style label{
 margin-top: 0px;
 margin-left: 0px;
 clear: none;
 float: none;

}

.edit_style .button{
 float: right;
 margin-top: -10px;
 width: 202px;
 height: 55px;
 border: none;
 position:relative;
 top: -190px;
}

.title_edits{
 margin-right: 250px;
}

.description_edits{
 margin-right: 360px;
}

.description_edits label{
  position: relative 
  margin-top: -20px;
 
}

</style>

<div id="videos_container">
<% @videos.each do |video| %>


 <ul>
   
   <li>   
      <%= image_tag("http://img.youtube.com/vi/#{video.yt_video_id}/0.jpg", :height =>"20%", :width => "20%") %>
      <%= form_for(video, :url=> edit_vid_path(:id => video.id) ,  :html => {:class => "edit_style"}, "data_type" => :js, :remote => true ) do |f| %>
      <div class="title_edits">
        <%= f.label :title, "title:" %>
        <%= f.text_field :title %>
      </div>

      <div class="description_edits" %>
       <%= f.label :description, "description:" %>
       <%= f.text_area :description %>
      </div>

	  <!--  <%= link_to "delete", delete_video_path(:id => video.id), :class => "button", "data_type" => :js, :remote => true %> -->
     <%= f.submit "save changes", :class => "button" %> 
    
      <% end %>  
   </li>

 </ul>


<% end %> 
</div> 
